*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #1f1d36;
}

.nav-menu:before,
.nav-menu:after {
    content: " ";
    display: table;
}

.nav-menu:after {
    clear: both;
}
 
.nav-menu {
    *zoom: 1;
}
 nav{
    padding: 50px;
 }
 .menu,
 .submenu {
  margin: 0;  
  padding: 0;
  list-style: none; 
 }
  
 .menu {
  margin: 50px auto;
  width: 800px;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
 }
  .menu > li {
    background: #000;
    float: left;
    position: relative;
    transform: skewX(25deg);
  }
    
  .menu a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, Helvetica;
    font-size: 14px;
  }

  .menu li:hover {
    background: #e74c3c;
  }

   .menu > li > a {
    transform: skewX(-25deg);
    padding: 1em 2em;
   }

   /* Dropdown */
   .menu-item {
    position: absolute;
    width: 200px;
    left: 50%; margin-left: -100px;
    transform: skewX(-25deg);
    transform-origin: left top;
   }
    
   .menu-item li {
    background-color: #34495e;
    position: relative;
    overflow: hidden;
   }
    
   .menu-item > li > a {
    padding: 1em 2em;
   }
    
   .menu-item > li::after {
    content: " ";
    position: absolute;
    top: -125%;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 50px rgba(0, 0, 0, .9);
   }

   .menu-item > li:nth-child(odd){
    transform: skewX(-25deg) translateX(0);
   }

   .menu-item > li:nth-child(odd) > a {
    transform: skewX(25deg);
   }

   .menu-item > li:nth-child(odd)::after {
    right: -50%;
    transform:  skewX(-25deg) rotate(3deg);
   }

   .menu-item > li:nth-child(even){
    transform: skewX(25deg) translateX(0);
   }

   .menu-item >  li:nth-child(even) > a {
    transform: skewX(-25deg);
   }

   .menu-item > li:nth-child(even)::after {
    left: 50%;
    transform: skewX(25deg) rotate(3deg);
   }

   /* show dropdown */
   .menu-item,
   .menu-item li {
    opacity: 0;
    visibility: hidden;
   }

   .menu-item li {
    transition: .2S ease ;
    
   }

   .menu > li:hover .menu-item,
   .menu > li:hover .menu-item li {
    opacity: 1;
    visibility: visible;
   }

   .menu > li:hover .menu-item li:nth-child(even){
    transform: skewX(25deg) translateX(15px);
   }

   .menu > li:hover .menu-item li:nth-child(odd){
    transform: skewX(-25deg) translateX(-15px);
   }

   .animated-word {
    display: flex;
    align-items: center;
    justify-content: center;
   }

   .letter {
    transition: 0.6s;
    transform: translateX(0);
    cursor: grab;
    color: #fff;
   }

   .letter:hover {
    transform: translateY(-1rem);
    background: -webkit-linear-gradient(120deg,
    hsl(19, 90%, 52%), hsl(56, 100%, 50%));
    -webkit-background-clip:  text;
    -webkit-text-fill-color: transparent;
    
   }

   
 
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body{
    background-color: #1f1d36;
  }
  
  .nav-menu:before,
  .nav-menu:after {
      content: " ";
      display: table;
  }
  
  .nav-menu:after {
      clear: both;
  }
   
  .nav-menu {
      *zoom: 1;
  }
   nav{
      padding: 50px;
   }
   .menu,
   .submenu {
    margin: 0;  
    padding: 0;
    list-style: none; 
   }
    
   .menu {
    margin: 50px auto;
    width: 800px;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
   }
    .menu > li {
      background: #000;
      float: left;
      position: relative;
      transform: skewX(25deg);
    }
      
    .menu a {
      display: block;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      font-family: Arial, Helvetica;
      font-size: 14px;
    }
  
    .menu li:hover {
      background: #e74c3c;
    }
  
     .menu > li > a {
      transform: skewX(-25deg);
      padding: 1em 2em;
     }
  
     /* Dropdown */
     .menu-item {
      position: absolute;
      width: 200px;
      left: 50%; margin-left: -100px;
      transform: skewX(-25deg);
      transform-origin: left top;
     }
      
     .menu-item li {
      background-color: #34495e;
      position: relative;
      overflow: hidden;
     }
      
     .menu-item > li > a {
      padding: 1em 2em;
     }
      
     .menu-item > li::after {
      content: " ";
      position: absolute;
      top: -125%;
      height: 100%;
      width: 100%;
      box-shadow: 0 0 50px rgba(0, 0, 0, .9);
     }
  
     .menu-item > li:nth-child(odd){
      transform: skewX(-25deg) translateX(0);
     }
  
     .menu-item > li:nth-child(odd) > a {
      transform: skewX(25deg);
     }
  
     .menu-item > li:nth-child(odd)::after {
      right: -50%;
      transform:  skewX(-25deg) rotate(3deg);
     }
  
     .menu-item > li:nth-child(even){
      transform: skewX(25deg) translateX(0);
     }
  
     .menu-item >  li:nth-child(even) > a {
      transform: skewX(-25deg);
     }
  
     .menu-item > li:nth-child(even)::after {
      left: 50%;
      transform: skewX(25deg) rotate(3deg);
     }
  
     /* show dropdown */
     .menu-item,
     .menu-item li {
      opacity: 0;
      visibility: hidden;
     }
  
     .menu-item li {
      transition: .2S ease ;
      
     }
  
     .menu > li:hover .menu-item,
     .menu > li:hover .menu-item li {
      opacity: 1;
      visibility: visible;
     }
  
     .menu > li:hover .menu-item li:nth-child(even){
      transform: skewX(25deg) translateX(15px);
     }
  
     .menu > li:hover .menu-item li:nth-child(odd){
      transform: skewX(-25deg) translateX(-15px);
     }
  
     .animated-word {
      display: flex;
      align-items: center;
      justify-content: center;
     }
  
     .letter {
      transition: 0.6s;
      transform: translateX(0);
      cursor: grab;
      color: #fff;
     }
  
     .letter:hover {
      transform: translateY(-1rem);
      background: -webkit-linear-gradient(120deg,
      hsl(19, 90%, 52%), hsl(56, 100%, 50%));
      -webkit-background-clip:  text;
      -webkit-text-fill-color: transparent